{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Book</th>
          <th>Read</th>
          <th>Genres</th>
          <th>Authors</th>
          <th>Change status</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <td>{{ book.name }}</td>
          <td>{{ book.read }}</td>
          <td>{{book.getGenres()}}</td>
          <td>{{book.getAuthors()}}</td>

          <td>
            <form method="POST" action="{{ url_for('book_set_read', book_id=book.id) }}">
              <input type="submit" value="Check read/unread" />
            </form>
          </td>
          <td>
            <form method="post" action="{{ url_for('books_delete', book_id = book.id) }}">
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr>
      </tbody>

    {% endfor %}
    </table>
  </div>
{% endblock %}
