{% extends "layout.html" %}
{% block body %}
<form method="POST" action="{{ url_for('books_create') }}">
  <div class="form-group">
    <label for="username">
        {{ form.name.label }}
    </label>
        {{ form.name(class_="form-control") }}
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li> {{ error }} </li>
          {% endfor %}
        </ul>
      </td>
    </div>
      <div class="form-group">
        <label for="genres">
        {{ form.genres.label }} (Erottele genret puolipiseellä ";")
        </label>

        {{ form.genres(class_="form-control") }}

      <td>
        <ul>
          {% for error in form.genres.errors %}
          <li> {{ error }} </li>
          {% endfor %}
        </ul>
      </td>
    </div>

  <div class="form-check">


        {{ form.read(class_="form-check-input") }}
         <label class="form-check-label" for="exampleCheck1">
             {{ form.read.label }}
        </label>
  </div>
  <button type="submit" class="btn btn-primary">Add a new book</button>
</form>
{% endblock %}
